// * 
  // font-family: Tajawal-Medium

%largeTitle
  font-size: 60px
  font-family: Tajawal-Black

.latestPosts
  @extend %largeTitle
  margin: 20px 0px 40px -30px

.blogMainPgLargeImg
  background-image: url('../images/mountainImg.jpg')
  width: 100%
  height: 50vh
  overflow: hidden
  background-position: 25% 160%
  background-size: cover
  background-attachment: fixed

.parallaxBrandNameContainer
  height: 100%
  width: 100%

.brandName
  color: white

.thickDivider
  height: 50px
  width: 100%
  background-color: white
  margin-bottom: 40px

  box-shadow: 0 8px 6px -6px #ccc
  -moz-box-shadow: 0 8px 6px -6px #ccc
  -webkit-box-shadow: 0 8px 6px -6px #ccc
